<!DOCTYPE html>
<html>
<body>
<div id="mainpanel">
<h1>I like sounds</h1>
<link rel="stylesheet" type="text/css" href="stylesheet.css"/>

<p>Love em.</p>
</div>

<%- include('navbar.ejs') %>
</body>
</html>