<!DOCTYPE html>
<html>
<head>
<title>LoveSounds</title>
    <%- include('header.ejs') %>
</head>
<body>

<div id="mainpanel">
<h2>Theres a bunch of different ones</h1>
<p>I could listen to them every day.</p>
</div>

<%- include('navbar.ejs') %>
</body>
</html>