<!DOCTYPE html>
<html>
<head>
<title>LoveSounds</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>

<div id="mainpanel">
<h1><%= count %> sounds were made by your mouse</h1>
<h2>Theres a bunch of different ones</h1>
<p>I could listen to them every day.</p>
</div>

<%- include('navbar.ejs') %>
</body>
</html>