<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Theres a bunch of different ones</h1>
<p>I could listen to them every day.</p>

<a href="/index">Visit index</a>

</body>
</html>